[Desktop Entry]
Comment=A program to help you memorize the Bible and other works
Comment[ca]=Un programa per a ajudar a memoritzar la Bíblia i altres treballs
Comment[ca@valencia]=Un programa per a ajudar a memoritzar la Bíblia i altres treballs
Comment[en_GB]=A program to help you memorise the Bible and other works
Comment[es]=Un programa para ayudarle a memorizar la Biblia y otras obras
Comment[fr]=Un programme pour vous aider à mémoriser la Bible et les autres livres
Comment[it]=Un programma che ti aiuta a memorizzare la Bibbia ed altre opere
Comment[nl]=Een programma om u te helpen de Bijbel en andere werken te memoriseren
Comment[nn]=Program for å hjelpa å deg å læra vers i Bibelen og andre verk
Comment[pt]=Um programa que o ajuda a memorizar a Bíblia e outras obras
Comment[pt_BR]=Um programa para ajudá-lo a memorizar a Bíblia e outras obras
Comment[sv]=Ett program som hjälper dig memorera bibeln och andra arbeten
Comment[uk]=Програма, яка допоможе вам вивчати напам'ять уривки з Біблії та інші тексти
Comment[x-test]=xxA program to help you memorize the Bible and other worksxx
Exec=totalreqall
Icon=totalreqall
Name=TotalReqall
Name[ca]=TotalReqall
Name[ca@valencia]=TotalReqall
Name[en_GB]=TotalReqall
Name[es]=TotalReqall
Name[fr]=TotalReqall
Name[it]=TotalReqall
Name[nl]=TotalReqall
Name[nn]=TotalReqall
Name[pt]=TotalReqall
Name[pt_BR]=TotalReqall
Name[sk]=TotalReqall
Name[sv]=TotalReqall
Name[uk]=TotalReqall
Name[x-test]=xxTotalReqallxx
GenericName=Memorize things
GenericName[ca]=Memoritzar coses
GenericName[ca@valencia]=Memoritzar coses
GenericName[en_GB]=Memorise things
GenericName[es]=Memorizar cosas
GenericName[fr]=Mémoriser des choses
GenericName[it]=Memorizza le cose
GenericName[nl]=Dingen onthouden
GenericName[nn]=Læra å hugsa ting
GenericName[pt]=Memorizar coisas
GenericName[pt_BR]=Memorize coisa
GenericName[sv]=Memorera saker
GenericName[uk]=Вивчення напам'ять текстів
GenericName[x-test]=xxMemorize thingsxx
Terminal=false
Type=Application
Categories=X-Bible;Utilities;Qt;KDE;X-KDE-More
Keywords=bible;memorize;
Keywords[ca]=bíblia;memoritzar;
Keywords[ca@valencia]=bíblia;memoritzar;
Keywords[en_GB]=bible;memorise;
Keywords[es]=biblia;memorizar;
Keywords[fr]=Bible; mémoriser;
Keywords[it]=bibbia;memorizza;
Keywords[nl]=bijbel;memoriseren;
Keywords[nn]=bibelen;læring;hugsing;pugging;
Keywords[pt]=bíblia;memorizar;
Keywords[pt_BR]=bíblia;memorizar;
Keywords[sv]=bibel;memorera;
Keywords[uk]=bible;memorize;біблія;запам'ятовування;пам'ять;напам'ять;вивчення;
Keywords[x-test]=xxbiblexx;xxmemorizexx;
