[Desktop Entry]
Comment=A program to help you memorize the Bible and other works
Comment[ca]=Un programa per a ajudar a memoritzar la Bíblia i altres treballs
Comment[ca@valencia]=Un programa per a ajudar a memoritzar la Bíblia i altres treballs
Comment[es]=Un programa para ayudarle a memorizar la Biblia y otras obras
Comment[nl]=Een programma om u te helpen de Bijbel en andere werken te memoriseren
Comment[sv]=Ett program som hjälper dig memorera bibeln och andra arbeten
Comment[uk]=Програма, яка допоможе вам вивчати напам'ять уривки з Біблії та інші тексти
Comment[x-test]=xxA program to help you memorize the Bible and other worksxx
Exec=totalreqall
Icon=totalreqall
Name=TotalReqall
Name[ca]=TotalReqall
Name[ca@valencia]=TotalReqall
Name[es]=TotalReqall
Name[nl]=TotalReqall
Name[sv]=TotalReqall
Name[uk]=TotalReqall
Name[x-test]=xxTotalReqallxx
GenericName=Memorize things
GenericName[ca]=Memoritzar coses
GenericName[ca@valencia]=Memoritzar coses
GenericName[es]=Memorizar cosas
GenericName[nl]=Dingen onthouden
GenericName[sv]=Memorera saker
GenericName[uk]=Вивчення напам'ять текстів
GenericName[x-test]=xxMemorize thingsxx
Terminal=false
Type=Application
Categories=X-Bible;Utilities;Qt;KDE;X-KDE-More
Keywords=bible;memorize;
Keywords[ca]=bíblia;memoritzar;
Keywords[ca@valencia]=bíblia;memoritzar;
Keywords[es]=biblia;memorizar;
Keywords[nl]=bijbel;memoriseren;
Keywords[sv]=bibel;memorera;
Keywords[uk]=bible;memorize;біблія;запам'ятовування;пам'ять;напам'ять;вивчення;
Keywords[x-test]=xxbiblexx;xxmemorizexx;
